/* colore testo */
.rosso{
  color: red;
}

.verde{
  color: green;
}

.coloreNumero{
  color: rgb(255, 128, 200);
}

.sottolineato{
  text-decoration: underline;
}

.corsivo{
  font-style: italic;
}

.grassetto{
  font-weight: bold;
}