<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- vue -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Vue Hello</title>
</head>
<body>
  
  <div id="app">
    <div class="container">
      <h1 :class="testoRosso">{{ messaggio }}</h1>

      <!-- input -->
      <input type="text" class="form-control" v-model="messaggio">
      <input type="text" class="form-control" v-model="coloreTesto">
      <h2 :class="coloreTesto">{{ messaggio }}</h2>
      <h3>{{ messaggio }}</h3>
      <h4>{{ messaggio }}</h4>
      <h5>{{ messaggio }}</h5>
      <h6>{{ messaggio }}</h6>
      <p>{{ messaggio }}</p>

      <!-- saluto -->
      <h3>{{ saluto }} {{ nome }} {{ cognome }}, come stai?</h3>

      <!-- testo direttiva in HTML js -->
      <div v-html="testoHtml"></div>

      <!-- link -->
      <!-- target -> per farlo aprire in un'atra scheda -->
      <!--  i due punti : prima di href -->
      <a :href="linkSito" target="_blank"> Vai al sito Vue.js</a>
    </div>
  </div>

  <script src="js/script.js"></script>
</body>
</html>